body{
    background-color: rgb(174, 137, 115);
    color:rgb(77, 12, 240);
    font-family: "Playfair Display", serif;
    margin: 10px;
}

header{
    border-bottom: solid 10px rgb(210, 96, 96);
    padding: 20px;
    font-size: 40px;
    color: chartreuse;
}

 h1{
    font-size: 32px;
 }

 p{
    font-size: 20px;
 }

 section {
    background-color: rgb(180, 221, 231);
    padding-bottom: 80px;
    padding-top: 80px;
    justify-content: center;
 }

 .chamada-texto {
    margin: 20%;
 }